<div class="div-list">
  <ul class="collection with-header">

    <li class="collection-header"><h4>Song List</h4></li>

    <table style="background-color: rgb(37, 40, 61);">
      <tbody>

      <tr id="tr_0" style="background-color: rgb(37, 40, 61);">
        <td><a class="brand-logo center pointer"><img id="song_0" src="assets/images/play.svg" alt="Logo" width="50" height="50" (click)="onClickMe(0)"/></a></td>
        <td><h5>Thief in the Night</h5><h6>Kevin MacLeod</h6></td>
        <td><h5>Im a Criminal</h5><h6>2010</h6></td>
        <td><h5>Reggae</h5><h6>03:04</h6></td>
        <td><a><img src="assets/images/0.png" alt="Logo" width="50" height="50"/></a></td>
      </tr>

      <tr id="tr_1" style="background-color: rgb(37, 40, 61);">
        <td><a class="brand-logo center pointer"><img id="song_1" src="assets/images/play.svg" alt="Logo" width="50" height="50" (click)="onClickMe(1)"/></a></td>
        <td><h5>Dream Catcher</h5><h6>Kevin MacLeod</h6></td>
        <td><h5>Asleep</h5><h6>2019</h6></td>
        <td><h5>Electronica</h5><h6>06:17</h6></td>
        <td><a><img src="assets/images/1.png" alt="Logo" width="50" height="50"/></a></td>
      </tr>

      <tr id="tr_2" style="background-color: rgb(37, 40, 61);">
        <td><a class="brand-logo center pointer"><img id="song_2" src="assets/images/play.svg" alt="Logo" width="50" height="50" (click)="onClickMe(2)"/></a></td>
        <td><h5>Disco Medusae</h5><h6>Kevin MacLeod</h6></td>
        <td><h5>Stoned</h5><h6>2015</h6></td>
        <td><h5>Disco</h5><h6>03:14</h6></td>
        <td><a><img src="assets/images/2.jpg" alt="Logo" width="50" height="50"/></a></td>
      </tr>

      <tr id="tr_3" style="background-color: rgb(37, 40, 61);">
        <td><a class="brand-logo center pointer"><img id="song_3" src="assets/images/play.svg" alt="Logo" width="50" height="50" (click)="onClickMe(3)"/></a></td>
        <td><h5>Ice Flow</h5><h6>Kevin MacLeod</h6></td>
        <td><h5>It's Cold Outside</h5><h6>2000</h6></td>
        <td><h5>Hip-Hop</h5><h6>02:22</h6></td>
        <td><a><img src="assets/images/3.png" alt="Logo" width="50" height="50"/></a></td>
      </tr>

      <tr id="tr_4" style="background-color: rgb(37, 40, 61);">
        <td><a class="brand-logo center pointer"><img id="song_4" src="assets/images/play.svg" alt="Logo" width="50" height="50" (click)="onClickMe(4)"/></a></td>
        <td><h5>Too Cool</h5><h6>Kevin MacLeod</h6></td>
        <td><h5>Still Cold Outside</h5><h6>2007</h6></td>
        <td><h5>Electronica</h5><h6>03:01</h6></td>
        <td><a><img src="assets/images/4.png" alt="Logo" width="50" height="50"/></a></td>
      </tr>
      </tbody>
    </table>
  </ul>
</div>


