.auth-container {
  height: 93.1vh;
  width: 100vw;
}

body{
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: #25283d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2325283d' cx='50' cy='0' r='50'/%3E%3Cg fill='%23272e46' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2327354f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23263c58' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23254360' cx='50' cy='200' r='50'/%3E%3Cg fill='%23214a69' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b5171' cx='50' cy='300' r='50'/%3E%3Cg fill='%23125979' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23006080' cx='50' cy='400' r='50'/%3E%3Cg fill='%23006887' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300708e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23007893' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23008098' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300889d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230090a0' cx='50' cy='700' r='50'/%3E%3Cg fill='%230098a3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a0a5' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300a8a6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b0a6' cx='50' cy='900' r='50'/%3E%3Cg fill='%2300b7a6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300bfa5' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  color: rgb(255, 255, 255);
}
